<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" />
  </head>
  <body>
    <div th:replace="fragmentos :: navbar"></div>

    <main class="container">
      <h1 class="text-center mt-4 mb-4">Estudiantes de la Javeriana</h1>

      <div>
        <table class="table table-striped table-bordered  table-hover text-center">
          <thead>
            <tr class="table-head">
              <th>Nombre</th>
              <th>Correo</th>
              <th>Carrera</th>
              <th>Semestre</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="persona : ${estudiantes}">
              <td th:text="${persona.nombre}"></td>
              <td th:text="${persona.correo}"></td>
              <td th:text="${persona.carrera.nombre}"></td>
              <td th:text="${persona.semestre}"></td>
              <td>
                 <a
                  class="btn btn-primary"
                  th:href="@{/student/{id}(id=${persona.id})}"
                  >Ver detalle</a
                >
                                <a
                  class="btn btn-primary"
                  th:href="@{/student/{id}/inscribir(id=${persona.id})}"
                  >Inscribir</a
                >
                <a
                  class="btn btn-info"
                  th:href="@{/student/update/{id}(id=${persona.id})}"
                  >Editar</a
                >
                <a
                  class="btn btn-danger"
                  th:href="@{/student/delete/{id}(id=${persona.id})}"
                  >Eliminar</a
                >
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <a type="button" class="btn btn-primary" th:href="@{/student/add}"
        >Agregar estudiante</a
      >
    </main>

    <div th:replace="fragmentos :: footer"></div>
  </body>
</html>
